
ul {
    list-style-type: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd; 
    border-bottom-style: solid;
	border-bottom-width: 1px
    border-color: grey;
 
}
h1 {
    list-style-type: inline;
    float: left;
    margin: 0;
    padding: 1% 5% 0% 10%;
    overflow: hidden;
    background: #dddddd;
    border-bottom-style: solid;
	border-bottom-width: 1px
    border-color: grey;
 
 
}	

li {
	list-style-type: inline;
	float: right;
    display: block;
    padding: 1.7% 5% 2% 5%;
    background-color: #dddddd;
}
li:hover {
	color: red;
    background-color: white;
    
}